<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application name="ACALabelXControler">
      <service>
        <wellknown objectUri="ACALabelXClientRemControlObject"/>
      </service>
      <channels>
        <channel address="@@clientremip@@" ref="http" port="@@clientremport@@">
          <clientProviders>
            <formatter ref="soap"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="logfile" value="@@controllerlogfile@@"/>
    <add key="append" value="@@controllerlogappend@@"/>
    <!-- The language of the program -->
    <add key="LanguageId" value="1043"/>
    <add key="SendEmail" value="False"/>
    <!-- Try to take a screenshot of the desktop on error (default true)-->
    <add key="TakeScreenshot" value="False"/>
    <!-- <appl.exe>.UnhandledException.png -->
    <!-- If SendEmail = true, also email the screenshot or not (default true)-->
    <add key="EmailScreenshot" value="False"/>
    <!-- Write the error in the application event log (default true)-->
    <add key="LogToEventLog" value="False"/>
    <!-- Log the error to a file. The file is named -->
    <!-- <appl.exe>.UnhandledExceptionLog.txt       -->
    <add key="LogToFile" value="True"/>
    <!-- Display a neat dialog to the user explaining what happened and -->
    <!-- what he needs to do -->
    <add key="DisplayDialog" value="True"/>
    <!-- When runnning in the debugger (development), skip the error handler -->
    <!-- registration if true. If false, hander is called after first chance -->
    <!-- is thrown to the debugger. Do continue to enter hander.             -->
    <add key="IgnoreDebugErrors" value="True"/>
    <!-- Kill the app on exception or try to continue. In our case, always kill -->
    <!-- Continuing might result in dataloss further on.                        -->
    <add key="KillAppOnException" value="True"/>
    <!-- overrulabe settings -->
    <!-- if other mail then mvendert@aca.nl                                       -->
    <!-- add key="EmailTo" value="mailaddres"                                     -->
    <!-- if other SMTP mail delivery server (port 25 outgoing blocked by isa etc) -->
    <!-- Default: mail.aca.nl Remember if EmailTo not aca.nl, mail.aca.nl does not-->
    <!-- relay, so other server is also required!                                 -->
    <!-- add key="EMailServer" value="Servernameofisp"-->
    <add key="ConfigXML" value="@@clientconfigxml@@"/>
    <!-- ConfigXML is needed to find the pictures folder in a local preview : -->
    <!-- It should point to the local ACALabelXClient.config.xml file.        -->
    <!-- If this key doesn't point to the ACALabelXClient.config.xml file you will see "Image not found"  -->
    <!-- errors when trying to preview labels with images in the controller                               -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
