<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="logfile" value="F:\ACA\Logs\ACALabelPrintClientLogging.txt"/>
		<add key="append" value="false"/>
		<!--Give a number representing following bits in the filter    -->
		<!--values are ALL, FATAL, ERROR, WARNING, SUCCESS, INFO DEBUG -->
		<!--           0xFFFF, 32,  16       8       4        2    1   -->
		<!-- So  7 represents success and info an debug messages       -->
		<!-- or 48 represents only fatal and error message             -->
		<!-- for ease of use: ALL represens maxuint                    -->
		<!--                                                           -->
		<add key="loglevel" value="ALL"/>
		<add key="autoflush" value="false"/>
		<add key="SendEmail" value="False"/>
		<!-- Try to take a screenshot of the desktop on error (default true)-->
		<add key="TakeScreenshot" value="False"/>
		<!-- <appl.exe>.UnhandledException.png -->
		<!-- If SendEmail = true, also email the screenshot or not (default true)-->
		<add key="EmailScreenshot" value="False"/>
		<!-- Write the error in the application event log (default true)-->
		<add key="LogToEventLog" value="False"/>
		<!-- Log the error to a file. The file is named -->
		<!-- <appl.exe>.UnhandledExceptionLog.txt       -->
		<add key="LogToFile" value="True"/>
		<!-- Display a neat dialog to the user explaining what happened and -->
		<!-- what he needs to do -->
		<add key="DisplayDialog" value="True"/>
		<!-- When runnning in the debugger (development), skip the error handler -->
		<!-- registration if true. If false, hander is called after first chance -->
		<!-- is thrown to the debugger. Do continue to enter hander.             -->
		<add key="IgnoreDebugErrors" value="True"/>
		<!-- Kill the app on exception or try to continue. In our case, always kill -->
		<!-- Continuing might result in dataloss further on.                        -->
		<add key="KillAppOnException" value="True"/>
		<!-- overrulabe settings -->
		<!-- if other mail then mvendert@aca.nl                                       -->
		<!-- add key="EmailTo" value="mailaddres"                                     -->
		<!-- if other SMTP mail delivery server (port 25 outgoing blocked by isa etc) -->
		<!-- Default: mail.aca.nl Remember if EmailTo not aca.nl, mail.aca.nl does not-->
		<!-- relay, so other server is also required!                                 -->
		<!-- add key="EMailServer" value="Servernameofisp"-->
		<add key="ConfigXML" value="F:\data\aca\LabelPrint\ACALabelXClient\ACALabelXClient.config.xml"/>
		<!-- ConfigXML is needed to find the pictures folder in a local preview : -->
		<!-- It should point to the local ACALabelXClient.config.xml file.        -->
		<!-- If this key doesn't point to the ACALabelXClient.config.xml file you will see "Image not found"  -->
		<!-- errors when trying to preview labels with images in the controller                               -->
    <!--Backup of configuration files to a predefined folder -->    
    <add key="BackupFolders" value="True"/>
    <add key="ServerBackupFolder" value="F:\aca\ACALabelPrint\Server Backup" />
    <add key="ClientBackupFolder" value="F:\aca\ACALabelPrint\Client Backup" />
  </appSettings>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
