<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConfigXML" value="@@designerconfigxml@@"/>
    <add key="logfile" value="@@designerlogfile@@"/>
    <add key="append" value="@@designerlogappend@@"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
