<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACALP_Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ACALP_Config.Properties.Settings>
            <setting name="LocalIPNumber" serializeAs="String">
                <value>@@SET@@</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>18080</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>18081</value>
            </setting>
            <setting name="BaseFolder" serializeAs="String">
                <value>F:\ACA\ACALabelPrint</value>
            </setting>
            <setting name="UniqueName" serializeAs="String">
                <value>@@SET@@</value>
            </setting>
            <setting name="ClientErrorLevel" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="ServerErrorLevel" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="ClientAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientPictureFolder" serializeAs="String">
                <value>@@DEFAULT@@</value>
            </setting>
            <setting name="ServerPictureFolder" serializeAs="String">
                <value>@@DEFAULT@@</value>
            </setting>
            <setting name="ServerIPNumber" serializeAs="String">
                <value>@@SET@@</value>
            </setting>
            <setting name="ControllerAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DesignerAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="baselogfolder" serializeAs="String">
                <value>F:\aca\ACALabelPrint\Logs</value>
            </setting>
            <setting name="standaloneclient" serializeAs="String">
                <value>False</value>
            </setting>
        </ACALP_Config.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
